/* Import Google font */
@import url('https://fonts.googleapis.com/css?family=Love+Ya+Like+A+Sister|Merriweather|Cabin+Sketch|Open+Sans&display=swap');

/* --- Clear padding & margin, set default font & background color --- */
* {
    padding: 0;
    margin: 0;
    font-family: 'Merriweather', serif;
}

body {
    background: #f0f0f0;
}

/* --- Navbar --- */
.navbar-default {
    background-color: #1c1d26;
}

.logo {
    color: #daa520;
}

h1 {
    font-family: 'Love Ya Like A Sister', cursive;
}

i {
    color: #daa520;
    margin-left: 20px;
}

.info-point {
    cursor: pointer;
}

#countries {
    float: right;
}

/* --- Intro Modal --- */
.modal-title-align {
    margin-left: 0 auto;
    text-align: center;
    padding: 10px 10px 10px 10px;
}

.cross-color {
    color: #f0f0f0;
    font-size: 50px;
}

.cross-color:hover {
    color: #fafafa;
}

.modal-default {
    margin-left: 20px;
}

.globe {
    float: right;
    margin: 15px;
}

h5 {
    font-weight: bold;
    color: 	#b22222;
    margin: 15px 0 0 10px;
}

.info-instruction {
    height: 40px;
    line-height: 110px;
    font-size: medium;
    font-weight: bold;
}

.info-instruction p {
    font-family: 'Cabin Sketch', serif;
}

.drop-down, .click-button, .show-map {
    float: left;
    margin: 15px;
}

.btn-align {
    margin: 0 auto;
    display: flex;
}

/* --- Website Content --- */
.content-default {
    margin: 20px 0 20px 0;
}

.intro {
    margin-left: 20px;
}

.intro-title {
    text-align: center;
    text-shadow: 1px 1px 2px #000000;
}

h4 {
    margin-top: 20px;
    font-weight: bold;    
}

.intro p {
    font-size: medium;
    text-align: left;
    margin-top: 20px;
}

h6 {
    margin-top: 50px;
    font-size: smaller;
    text-align: center;
}

.intro a, .intro-email a {
    text-decoration: none;
    font-weight: bold;
    color: #007bff;
}

.intro a:hover, .intro-email a:hover {
    color: #4169e1;
}

/* --- More Facts Modal --- */
.more-modal-title-align {
    margin-left: 0 auto;
    text-align: center;
    padding: 10px 10px 10px 10px;
}

.more-modal-default {
    margin: 0 20px 20px 20px;
}

.more-modal-default .continents {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    display: block;
    margin: 0 auto;
}

.asia, .skeleton, .christian, .europe, .houses, .gold {
    float: right;
    margin: 15px 15px 20px 30px;
}

.oceania, .conversation, .desert, .igloo {
    float: left;
    margin: 15px 30px 15px 30px;
}

ul {
    margin-left: 40px;
}

/* --- Google Map & Details --- */
#map {
    height: 600px;
    border: dashed 4px #1c1d26;
    margin-left: 50px;
}

#siteInfo h2, #siteInfo b, #landInfo h2 {
    margin: 0;
    font-family: 'Cabin Sketch', serif;
    font-weight: bold;
}

#siteInfo b {
    font-size: medium;
}

#siteInfo p {
    margin: 0;
    font-family: 'Open Sans', serif;
    font-size: small;
}

#siteInfo img {
    border: 1px solid #000000;
}

#landInfo img {
    height: 150px;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    margin: 20px 0 0 10px;
    float: right;
}

/* --- Footer --- */
.footer-default {
    position: static;
    height: 4em;
    line-height: 4em;
    background-color: #1c1d26;
    color: #daa520;
    font-size: smaller;
}

.footer-default i {
    float: right;
    margin: 8px 0 0 5px;
}

/* --- Media Queries --- */

@media (min-width: 768px) and (max-width: 1024px) { 
    .content-default {
        height: 55rem;
    }

    .intro p {
        font-size: smaller;
    }

    .more-modal-default img {
        height: 250px;
    }

    .more-modal-default p, .more-modal-default li {
        font-size: medium;
    }

    .asia, .skeleton, .europe, .gold, .oceania, .conversation, .desert, .igloo {
        width: 30%;
        float: right;
        object-fit: contain;
    }

    .christian, .houses {
        width: 30%;
        float: left;
        margin-right: 30px;
        object-fit: contain; 
    }

    #map {
        height: 700px;
        margin: 10px 0 0 10px;
    }

    .footer-default i {
        margin-right: 15px;
    }
}

@media (min-width: 360px) and (max-width: 767px) {
    #countries, .info-point {
        margin: 0;
    }

    .content-default {
        margin: 0;
        height: 75rem;
    }

   .modal-default {
        margin-left: 0;
    }

   .info-instruction p {
        font-size: smaller;
    }

    .more-modal-default {
        margin: 0;
    }

    .more-modal-default p, .more-modal-default li {
        font-size: small;
    }

    .more-modal-default img {
        height: 150px;
    }
    
    #map {
        height: 500px;
        margin: 0;
    }

    #landInfo img {
        display: none;
    }
}